/* CSS Document */

@import url("fonts/Futura/styles.css");
@import url("fonts/Century/styles.css");

body {
	background: #FFF;
	font-size:11px;
	color:#585857;
	font-family:'Arial';
}

a, .t {
	color:#a40228;
}


.clear {
	clear:both;
}

header {
	padding:0 0;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #E3E3E3),
		color-stop(1, #F5F5F5)
	);
	background-image: -o-linear-gradient(bottom, #E3E3E3 0%, #F5F5F5 100%);
	background-image: -moz-linear-gradient(bottom, #E3E3E3 0%, #F5F5F5 100%);
	background-image: -webkit-linear-gradient(bottom, #E3E3E3 0%, #F5F5F5 100%);
	background-image: -ms-linear-gradient(bottom, #E3E3E3 0%, #F5F5F5 100%);
	background-image: linear-gradient(to bottom, #E3E3E3 0%, #F5F5F5 100%);
}

nav {
	width:100%;
	margin: 0 auto;
	height:30px;
	background-image:url(../../images/menu_home.png);
	margin-bottom:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;		
}

nav > div > a, nav > div > span {
	color:#FFFFFF;
	font-size:14px;
	font-family: 'Futura', Trebuchet MS, Arial, sans-serif;
	font-weight:500;
	padding: 8px 20px;
	background-position:right center;
	background-repeat:no-repeat;
	display:block;
	float:left;
	cursor:pointer;
	text-transform:uppercase;
}

nav > div > a:hover, nav > div > span:hover, nav > div > span.active {
	color:#ebe9e9;		
}

nav > div > a:last-child {
    background-image:none;
}

nav .has-dd {
	position:relative;
}

nav .dd {
	width:100%;
	height:auto;
	left:0px;
	top:23px;
	background-color:#ebebeb;
	position:absolute;
	overflow:hidden;
	z-index:99999;
	padding: 0 10px;
	display:none;
}
.dd li {
	width:100%;
	display:block;
	float:none;	
}
.dd li a {
	width:100%;
	display:block;
	padding:9px 5px;
	border-bottom:1px solid rgba(0,0,0,.1);
	text-align:center;
	color:#333;
	font-family:'Arial';
	font-size:12px;
}

.dd li a:hover {
	color: #a40228;
}

.dd li.last a {
	border:0;
}

#title {
	width:100%;
	height: 65px;
	background-image:url(../../img/v2/pagetitle.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100% 100%;
	margin-bottom:15px;
	margin-top:10px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/v2/pagetitle.png',sizingMethod='scale');-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/v2/pagetitle.png',sizingMethod='scale')";	
}

#title.nmb {
	margin-bottom:0;
}

#title span {
	line-height:65px;
	float:left;
	display:block;
	font-family:'Arial';
	color:#FFF;
	font-weight:700;
	text-transform:uppercase;
	font-size:14px;
	margin-left:20px;
}

.h2 {
	background-color: #a40228;
	color:#FFF;
	font-family:'Arial';
	font-weight:700;
	font-size:12px;
	padding:13px;
	margin-bottom:20px;
	display:block;
}

.h2.inverse {
	background-color: #ececec;
	color: #95162d;
}

.h3 {
	font-family: 'Arial';
	font-size:13px;
	font-weight:700;
	margin-bottom:15px;
	display:block;
	color: #a40228;
	text-transform:uppercase;
}

hr {
	border-top:1px solid rgba(0,0,0,.1);
	display:block;
	width:100%;
	margin:20px auto;
	clear:both;
}


.logofiat {
	margin-right:15px;
	padding:3px 0;
}

.logobasa {
	margin-left:15px;
	margin-top:7px;
}

.homeBox {
	background-color: #ececec;
	height:
}
.col-home {
	margin-bottom:15px;
}

.homeBox h4 {
	font-size:12px;
	color: #96172e;
	font-family: 'Arial';
	font-weight:700;
	text-transform:uppercase;
	padding:13px 10px;
}


.homeBoxContent {
	height:168px;
}
.homeBoxContent .cvimg {
	width:100%;
}

.homeBoxContent .sumate {
	font-family: 'Arial';
	font-weight:800;
	font-size:11pt;
	display:block;
	text-align:center;
	padding:15px 0;
	color: #404042;
}

.homeBoxContent iframe {
	width:100%;
	height:100%;
}

.news-slider-img {
	width:100%;
	height:84px;
	background-size:cover;
	background-repeat:no-repeat;
	margin-bottom:5px;
	background-position: center center;
}

.news-slider-body {
	
    font-size: 10px;
    overflow: hidden;
   
}
	.news-slider-body p, .news-slider-body span {
		font-size:10px !important;
		line-height:11px;
	}

.news-slider-control img {
	margin-left:10px;
	margin-top:-3px;
}



.news-slider-btn {
	width:100%;
	height:20px;
	color:#FFF;
	display:block;
	text-align:center;
}

.btn-rojo{
	background: #ea9d9e;
	background-image: url(triangle.png), -moz-linear-gradient(top,  #ea9d9e 0%, #bd4054 11%, #902132 100%);
	background-image: url(triangle.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea9d9e), color-stop(11%,#bd4054), color-stop(100%,#902132));
	background-image: url(triangle.png), -webkit-linear-gradient(top,  #ea9d9e 0%,#bd4054 11%,#902132 100%);
	background-image: url(triangle.png), -o-linear-gradient(top,  #ea9d9e 0%,#bd4054 11%,#902132 100%);
	background-image: url(triangle.png), -ms-linear-gradient(top,  #ea9d9e 0%,#bd4054 11%,#902132 100%);
	background-image: url(triangle.png), linear-gradient(to bottom,  #ea9d9e 0%,#bd4054 11%,#902132 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ea9d9e", endColorstr="#902132",GradientType=0 ), progid:DXImageTransform.Microsoft.AlphaImageLoader(src="triangle.png"); 
	line-height: 26px;
	font-size: 14px !important;
	border-radius: 5px;
	font-family:'Arial';
	height:25px !important;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center left;
}

.btn-negro{
	background: #281317;
    background-image: url(triangle.png), -moz-linear-gradient(top, #fff 0%, #bcadaf 0%, #504748 22%, #281317 100%);
    background-image: url(triangle.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(0%,#bcadaf), color-stop(22%,#504748), color-stop(100%,#281317));
    background-image: url(triangle.png), -webkit-linear-gradient(top, #fff 0%,#bcadaf 0%,#504748 22%,#281317 100%);
    background-image: url(triangle.png), -o-linear-gradient(top, #fff 0%,#bcadaf 0%,#504748 22%,#281317 100%);
    background-image: url(triangle.png), -ms-linear-gradient(top, #fff 0%,#bcadaf 0%,#504748 22%,#281317 100%);
    background-image: url(triangle.png), linear-gradient(to bottom, #fff 0%,#bcadaf 0%,#504748 22%,#281317 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#281317',GradientType=0 );
    border-radius: 5px;
    height: 25px !important;
    font-weight: normal !important;
    font-size: 14px !important;
    font-family: 'Arial';
    line-height: 15px;
    cursor: pointer;
	background-repeat: no-repeat;
	background-position: center left;
}

.news-slider-control {
	cursor:pointer;
}

#footer {
	/*margin-top:10px;*/
	margin-bottom:10px;
}
footer .hr {
	margin: 25px auto;
	width:100%;
	max-width:100%;
	margin-bottom:30px;
	display:block;
}

#footer .fim {
	margin-top:-7px;
	vertical-align:middle;
	margin-right:10px;
}

#footer .social-icons a {
	float:right;
	margin:0px 3px;
	margin-top:-5px;
}

#footer i {
	color:#a40228;
	font-style:normal;
}

#footer a:hover {
	font-weight:700;
}

#mobile_menu {
	width:70px;
	height:23px;
	background-image:url(../../img/v2/menu_responsive.png);
	background-position:center center;
	background-repeat:no-repeat;
	display:block;
	float:right;
	cursor:pointer;
}

#mobile_menu_items {
	
}


.simple-list {
	width:100%;
	overflow:hidden;
}
.simple-list li {
	width:100%;
	display:block;
	padding:8px;
	font-size:12px;
}
.simple-list-title {
	display:block;
	padding:4px 10px;
	font-size:12px;
}


/* Sidebar */
.sidebar {
	width:100%;
	padding:20px;
	background-color: #ececec;
}

.sidebar-title {
	font-family: 'Arial';
	font-size:13px;
	font-weight:700;
	margin-bottom:15px;
	display:block;
}

.sidebar p.text {
	font-size:12px;
	line-height:15px;
	margin-bottom:20px;
}

.sidebar p.s {
	font-size:11px;
	line-height:13px;
}
.textBlock {
	font-size:12px;
	line-height:16px;
}
.textBlock p {
	margin-bottom:10px;
}


@media (max-width: 480px) {
	#footer {
		text-align:center;
	}
	#footer .social-icons {
		text-align:center;
	}
	#footer .social-icons a {
	float:none;
	display:inline-block;
	}
	.col-footer {
		margin-bottom:15px;
	}
.homeBoxContent {
	height:auto;
}	
}
@media (max-width: 991px) {
	.nav-wapper {
		padding:0;
	}
	#mobile_menu_items {
		position:absolute;
		height:auto;
		width:150px;
		top:23px;
		right:0;
		background-color:#585858;
		z-index:99999;
		padding:0px 0;
		opacity:0;
	}	
	
		nav > div > a, nav > div > span {
			padding: 10px 16px;
			background-image: none;
			display:block;
			width:100%;

		}
		
nav > div > a:hover, nav > div > span:hover, nav > div > span.active {
	background-color: #FFF;
	color:#585858;		
}

nav .dd {
	top:0;
	left:150px;
}

}

@media (min-width: 991px) {
/*	nav {
		width:98%;
		position:absolute;
		bottom:-35px;
		left:20px;
		z-index:9999;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;		
	}*/
}
@media (max-width: 991px) { 
.page-main-container {
	padding:0;
}
}


/*@font-face {
font-family: 'Futura Lt BT Light';
font-style: normal;
font-weight: normal;
src: local('Futura Lt BT Light'), url('futura_lt_bt_light-webfont.woff') format('woff');
}*/

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/font/futura_lt_bt_light-webfont.woff") format("woff"), format("truetype");
}