@font-face {
    font-family: regular;
    src: url("/tipografia/raleway/Raleway-Regular.ttf");
}
@font-face {
    font-family: bold;
    src: url("/tipografia/raleway/Raleway-Bold.ttf");
}
@font-face {
    font-family: semibold;
    src: url("/tipografia/raleway/Raleway-SemiBold.ttf");
}

body{
    font-family: regular !important;
    overflow: hidden;
}
html, body {
    margin:0 !important; /* remove default margin */
    padding:0 !important; /* remove default padding */
    width:100% !important; /* take full browser width */
    height:100% !important; /* take full browser height*/
}
.wrap{
    z-index: 0;
    position: relative;
}
.col-md-12{
    z-index: -1;
}
/*PARA QUE FUNCIONE LA BARRA */
.affix {
    top: 0;
    width: 100% !important;
}
/* AGREGA AL container-fluid SIGUIENTE UN PADDING CUANDO LA BARRA SE PEGA A LA PARTE SUPERIOR DE LA PANTALLA*/
/* The + is used to select an element that is placed immediately after (not inside) the first specified element. */
.affix + .container-fluid {
    padding-top: 47px;
}

/*PARA QUE LA PAGINA SEA DE PANTALLA COMPLETA*/
.container-fluid, .logos{
    padding-left: 0px !important;
    padding-right:  0px !important;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
/* LINKS SIN CAMBIOS AL HACER CLICK Y SIN SUBRAYADOS O CAMBIOS DE COLOR*/
a{
    text-decoration: none !important;
    color: inherit !important;
}

/**************** BOTON BACK TO TOP */
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 23px;
    padding: 6px 10px;
    font-weight: 100;
    border-radius: 0px !important;
    color: white !important;
    background-color: #9b102d !important;
    border-color: #9b102d !important;
    z-index: 99;
}
.back-to-top:hover{
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}
/**************** FIN BOTON BACK TO TOP */

/******************************************** CABECERA ************************************/
.logos{
    display: block;
    height: 140px;
    margin-top: 40px;
}
.img_logo_piazza{
    max-height: 95px;
    margin-left: 5%;
    width: auto;
    float: left;
}
.img_logo_fiat{
    max-height: 95px;
    width: auto;
    float: right;
    margin-right: 5%;
}

/******************************************** FIN CABECERA ************************************/

.site-index{
    padding: 0px !important;
}

.img_home {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 500px;
    max-height: 407px;
}
.triangulo_home:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1100px 350px 0 0;
    border-color: #ffffff transparent transparent transparent;
    content: '';
    position: absolute;
    left: 16px;
    top: 1px;
}


/***************************CSS DEL NAV BAR*/

.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu{
    width: 100%;
    background-color: white;
    float: left;
}

.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}
.sf-menu li {
    padding: 0px;
    position: relative;
    float: left;
    background: white;
    -webkit-transition:background 1s;
    -moz-transition:background 1s;
    -o-transition:background 1s;
    transition:background 1s;
    border: 1px solid rgba(0, 0, 0, 0.38);
    width: 11.1%;
    text-align: center;
    border-left: none;
    height: 45px;
    color: black;
}
.sf-menu li:hover,.sf-menu li a:hover{
    background: black !important;
    color: white !important;
}
.sf-menu li a{
    padding-top: 11px;
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
.form_buscar div input{
    height: 30px;
}
.form_buscar div{
    padding: 7px;
}
/* ajuste para que se colapse y se vea bien*/
.collapse{
    padding: 0px !important;
}

.navbar-toggle {
    background-color: black !important;
    float: left !important;
}
.navbar-toggle .icon-bar {
    background-color: white !important;
}
@media (max-width: 992px) {
    .sf-menu li a{
        font-size: small;
    }
    .img_fiat_plan,.img_home{
        display: none;
    }
    body *{
        max-width: 992px;
    }
    .container-fluid > *{
        max-width: 992px;
    }
}
@media (max-width: 768px) {
    .sf-menu, .sf-menu * {
        list-style: circle !important;
    }
    .sf-menu li {
        float: none !important;
        width: 300px;
    }
    .img_fiat_plan,.img_home{
        display: none;
    }
    body *{
        max-width: 768px;
    }
    .container-fluid > *{
        max-width: 768px;
    }

}


@media (max-width: 480px) {
    .img_logo_piazza, .img_logo_fiat{
        float: left !important;
    }
    body *{
        max-width: 480px;
    }
    .container-fluid > *{
        max-width: 480px;
    }

}
/*******************************FIN CSS DEL NAV BAR*/

/*******************************PRIMER SLIDER*/
.bx-wrapper .bx-loading {
    background: none !important;
}
.bx-wrapper {
    border: 0px solid #fff !important;
    z-index: 0;
}
#bxslider1 .col-md-3{
    padding: 0px;

}
/*******************************FIN PRIMER SLIDER*/

/*******************************NUESTROS MODELOS*/


/*******************************FIN NUESTROS MODELOS*/

/******************************* INDEX CONTACTO*/
.form-group{
    margin-bottom: 0px !important;
    line-height: 1;
}
.contact .help-block{
    margin-top: 0px;
    margin-bottom: 0px;
}
.contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6{
    margin: 0px !important;
    color: #9b102d;
}
.contact .form-group input{
    border-radius: 0px !important;
    background-color: lightgray !important;
}
#contact-msj{
    background-color: lightgray !important;
    border-radius: 0px !important;
}

.has-success .form-control {
    border-color: #ddd !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ddd !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ddd !important;
}
.has-success .form-control:focus {
    border-color: #ddd !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ddd !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ddd !important;
}

input[placeholder]:-moz-placeholder{ color:#000000; font-size:36px;}
input[placeholder]::-moz-placeholder{ color:#000000; font-size:36px;}
input[placeholder]::-webkit-placeholder{ color:#000000; font-size:36px;}
input[placeholder]:-ms-placeholder{ color:#000000; font-size:36px;}


.boton_contacto{
    float: right;
    margin-top: 2%;
    border-radius: 0px !important;
    color: #9b102d;
    margin-bottom: 5% !important;
    background-color:  darkred !important;
    color: white;
    border: none !important;
}
.field-contact-desde, .field-contact-hasta{
    display: inline-block;
    width: 14% !important;
    min-width: 85px;
}
#contact-desde, #contact-hasta{
    border-radius: 0px !important;
    border: none;
    webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
}
.consulta_enviada{
    float: right !important;
    text-align: center;
}
/*******************************FIN INDEX CONTACTO*/

/******************************* INDEX planes postventa*/
.wrap_postventa,  .wrap_planes{
    border: solid 1px #e0e0e0 ;
}

.planes_postventa h1{
    position: absolute;
    margin-left: 5%;
    color: #9b102d;
    z-index: 1;
    font-family: semibold;
    width: 40%;
    margin-top: 35px;
}

.planes_postventa button{
    z-index: 1;
    position: absolute;
    color: white;
    top: 70%;
    left: 7%;
    background-color: #9b102d;
    border-radius: 0% !important;
    border: solid 0px black ;
    font-size: 22px;
    padding: 1px 25px;
}

.planes_postventa button:hover{
    color: white;
    background-color: #9b102d;
    border-radius: 0% !important;
    border: solid 0px black ;
}
.planes_postventa button span{
    display: block;
    margin-bottom: -4px;
}
.planes_postventa button span:first-of-type {
    margin-bottom: -5px;
}

.img_home_postventa, .img_home_planes {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 500px;
    max-height: 407px;
}
/******************************* FIN INDEX planes postventa*/

/******************************* NOVEDADES*/
.novedades {
    background-image: url("/images/autos/6_2.jpg");
    max-width: 100%;
    height: 500px;
    background-repeat: repeat-x;
    margin: 5% 0%;
    margin-bottom: 3%;
    background-size: 100%;
}
.novedades h3{
    position: absolute;
    left: 60%;
    top: 45%;
    color: white;
    font-size: 60px;
}
/******************************* FIN NOVEDADES*/

/******************************* NEWSLETTER*/
@media (min-width: 480px) {
    .boton_newsleter {
        font-size: 20px;
        width: 500px;
        margin: auto;
        display: block;
        text-align: center;
        border: solid 1px #9b102d;
        height: 55px;
        line-height: 55px;
        color: lightgrey;
        cursor: pointer;
    }
}
@media (min-width: 1024px) {
    .boton_newsleter{
        width: 50%;
        font-size: 25px;
        margin: auto;
        display: block;
        text-align: center;
        border: solid 1px #9b102d;
        height: 55px;
        line-height: 55px;
        color: lightgrey;
        cursor: pointer;
    }
}


.linia_divisora_footer{
    border-top: solid 1px black;
    margin-top: 40px;
    margin-bottom: 80px;
}
/******************************* FIN NEWSLETTER*/

/******************************* FOOTER*/
.footer{
    margin-top: 72px !important;
}
.footer .col-md-12{
    z-index: -1;
}
.redes h4{
    margin-left: 5%;
}
.redes h4, .sucursales h5, .sucursales h4{
    color: #9b102d;
}
.redes img{
    margin-left: 15px;
    width: 17%;
    margin-top: 5%;
}
.data_fiscal{
    width: 24% !important;
    margin-top: 50px;
    display: block;
}
/******************************* FIN FOOTER*/


/**************************** PAGINA NUESTROS MODELOS **********************************************************************/
.nuestros_modelos{
    margin: 0px 10%;
}

.nuestros_modelos .col-md-3, .nuestros_modelos .col-md-4{
    padding-left: 0px !important;
    padding-right: 4px !important;
    margin-bottom: 40px;
    text-align: center;
}
.nuestros_modelos .col-md-3 img, .nuestros_modelos .col-md-4 img{
    width: 100%;
    margin-bottom: 30px;
}

/**************************** FIN PAGINA NUESTROS MODELOS **********************************************************************/

/**************************** PAGINA MODELOS DETALLE **********************************************************************/
.mod_detalles h2{
    color: #9b102d;
    font-family: semibold !important;
    font-size: 46px;
    margin-top: 79px;
    margin-bottom: 30px;
}
.mod_detalles img {
    width: 100%;
}
.contact_detalle{
    margin-top: 119px;
}
.nav_detalle{
    margin-top: 35px;
    width: 100%;
    background-color: #9b102d;
    color: white;
    margin-bottom: 20px !important;
}
.nav_detalle .active a{
    text-decoration: none !important;
    background-color: darkred !important;
    background: darkred !important;
    border: 1px solid darkred !important;
}
.nav_detalle li{
    margin-bottom: 0px !important;
}
.nav_detalle li a span{
    margin-left: 15px;
}
.nav_detalle>li>a:focus, .nav_detalle>li>a:hover {
    text-decoration: none !important;
    background-color: darkred !important;
    border: 1px solid darkred !important;
}
/**************************** FIN MODELOS DETALLE **********************************************************************/


/****************************  PAGINA NOSOTROS **********************************************************************/



/**************************** FIN  PAGINA NOSOTROS **********************************************************************/

/**************************** PLANES **********************************************************************/
.planes h1{
    text-align: center;
    color: #9b102d;
    margin-top: 50px;
}
.planes div{
    margin-top: 40px;
}
.planes .img_fiat_plan img{
    width: 65%;
}

.wrap_img_modelo{
    margin-bottom: 40px;
    text-align: center;
    height: 433px;
}
.wrap_img_modelo img {
    width: 100%;
    margin-bottom: 30px;
}
.nombre_modelo{
    font-size: 36px;
}

.thumbs_bx a img{
    width: 32%;
}

.bx-wrapper:first-of-type{
    margin-bottom: 0px !important;
}
/**************************** FIN PLANES **********************************************************************/

/**************************** POSTVENTA **********************************************************************/

.titulo_seccion{
    background-color: #9b102d;
    padding-top: 46px;
    padding-bottom: 13px;
    color: white;
    font-size: 50px;
    font-family: semibold !important;
    margin-bottom: 50px;
}
.img_alertas a img{
    display: block;
    margin: auto;
    height: 110px;
    margin-top: 50px;
}
.solicitar_turnos{
    font-weight: bold;
    font-size: large;
    line-height: 1.5
}
/**************************** FIN POSTVENTA **********************************************************************/

/**************************** PAGINA NUESTROS USADOS **********************************************************************/
.nuestros_usados{
    margin: 0px 5%;
}

.nuestros_usados .col-md-4{
    padding-left: 0px !important;
    padding-right: 4px !important;
    margin-bottom: 40px;
}
.nuestros_usados .col-md-4 img{
    width: 100%;
    margin-bottom: 30px;
}
.descripcion_usado{
    font-size: larger;
}

/**************************** FIN PAGINA NUESTROS USADOS **********************************************************************/

/**************************** PAGINA CONTACTO **********************************************************************/
.form_contacto_contact_page .col-md-12{
    margin-bottom: 50px;
}

.imagen_contacto img{
    max-height: 400px;
}
.imagen_contacto{
    margin-top: 14px;
}
.sucursales_contacto{
    text-align: center;
}
.sucursales_contacto h4{
    margin-top: 30px;
}
.wrap_como_llegar{
    margin-top: 30px;
    text-align: center;
}
.boton_como_llegar{
    width: 150px;
    margin-top: 2%;
    border-radius: 0px !important;
    background-color:  darkred !important;
    color: white !important;
    border: none !important;
}
.telefono{
    color: #9b102d;
}
/**************************** FIN PAGINA CONTACTO **********************************************************************/
/**************************** NOVEDADES **********************************************************************/
.wrap_novedades{
    margin-bottom: 50px;
}
.wrap_novedades .titulo_novedad{
    color: #9b102d;
    font-size: x-large;
    font-family: bold;
}

/**************************** FIN NOVEDADES **********************************************************************/

/**************************** BACKEND **********************************************************************/
.container p a{
    color: white !important;
}
/**************************** FIN BACKEND **********************************************************************/


